<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Todo App</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./css/style.css" rel="stylesheet">
</head>
<body>
    <%- include('header.ejs') %> 
    <table>
        <tr>
            <td>
                BUY ROLLSROYCE
            </td>
        </tr>
        <tr>
            <td>
                EAT BURGER
            </td>
        </tr>
    </table>
    
</body>
<%- include('footer.ejs') %>
</html>